<%- include("header") -%>

<h2>About page</h2>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero natus vitae assumenda rerum perferendis hic sapiente exercitationem, dolorum, ratione deserunt reprehenderit repellat provident odit possimus asperiores, sequi blanditiis ad aperiam.</p>

<%- include("footer") -%>